:root {
  /* Colour theme */
  --header-color:#A0816C;
  --background-col:#D1C0A8;
  --active-tab:#C8AD7E;
  --not-active-tab:#BFAA8C;
}

.header {
  padding: 60px;
  text-align: center;
  background: var(--header-color);
  color: white;
  font-size: 30px;
}

h1 {
  font-family: "Times New Roman", Times, serif;
}

.currently-reading {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: var(--background-col);
}

/* Navigation bar styling 
Modified code from this website: https://www.w3schools.com/css/css_navbar_horizontal.asp
*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(117, 70, 8, 0.678);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: var(--not-active-tab);
}

.active {
  background-color: var(--active-tab);
}